/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
.montserrat {
  font-family: 'Montserrat', sans-serif;
}

@font-face {
  font-family: "Primal";
  src: url("fonts/Primal.otf") format("opentype");
}

/* BODY */

body {
  min-height: 100vh;
  background: linear-gradient(rgb(2, 14, 38, 0.9), rgb(169, 169, 169, 0.8));
}

/* CLASES AUXILIARES*/

.font-bold {
  font-weight: bold;
}

.text-center{
  text-align: center;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

/* INDEX */

div.container-fluid.index {
  min-height: 100%;
}

h1.catch{
  margin-top: 1%;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 3rem;
  line-height: 145%;
  background: linear-gradient(to right, rgba(220, 220, 220), rgb(169, 169, 169));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  /* text-shadow: 5px 4px 3px rgba(2, 14, 38, 0.1); */
}

p.index{
  font-size: 2rem;
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 10%;
  line-height: 135%;
}


/* NAVBAR */

.navbar-nav .nav-link {
  transition: transform 0.2s ease;
}

.navbar-nav .nav-link:hover {
  transform: scale(1.1);
}

ul.dropdown-menu.show{
  background: none;
  border: none;
}

a.dropdown-item{
  color: white;
}


/* BOTON COTIZACION*/
.btn-custom {
  background: linear-gradient(45deg, rgb(75, 222, 202), rgb(27, 211, 237));
  color: rgb(0, 0, 0, 0.8);
  border: none;
  transition: transform 0.2s ease;
}

.btn-custom-lg {
  background: linear-gradient(45deg, rgb(75, 222, 202), rgb(27, 211, 237));
  color: rgb(0, 0, 0, 0.8);
  border: none;
  transition: transform 0.2s ease;
}

.btn-custom:hover {
  transform: scale(1.1);
}

.card.index {
  border: none;
  height: auto;
  background: none;
}

/* Logo Index */

p.primal-logo{
  font-family: "Primal", Arial, sans-serif;
  font-size: 2.5rem;
  width: 100%;
}

/* ANIMACIONES INTERSECTION OBSERVER */

.hidden {
  opacity: 0;
  transform: translateY(-100%);
  transition: all 1s;
}

.show {
  opacity: 1;
  transform: translateY(0);
}

/* Media Queries */

/* menor a MD
*/
@media (max-width: 767.98px) {

  h1.catch {
    font-size: 2rem;
  }

  p.index{
    font-size: 1rem;
  }
  
  
  /* navbar */
  div.container-fluid.nav{
    position: relative;
    justify-content: end;
  }
  
  #navbarOffcanvas {
    width: 74%;
    right: 0;
    left: auto;
  }

  li.dropdown{
    align-items: center;
    justify-content: center;
  }

  ul.navbar-nav {
    align-items: center;
    font-weight: bold;
    font-size: larger;
    line-height: 10vh;
    padding: 10%;
    
  }

  a.dropdown-item{
    color: rgb(0, 0, 0);
    align-items: center;
    font-weight: bold;
    font-size: larger;
    line-height: 8vh;
  }
}
